main.pdf

dedication.tex
acknowledgments.tex
abstract.tex
introduction.tex
paper*.tex
conclusion.tex
appendix.tex
figures/*-eps-converted-to.pdf

main.lot
main.run.xml
main.aux
main.tex.blg
main.bbl
main.toc
main.bcf
main.blg
main.lof
main.log

.DS_Store
